.pokemon-tile {
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  max-width: 500px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.pokemon-tile-header, .moves {
  display: flex;
  justify-content: space-between;
}

.pokemon-name, .pokemon-tile-body-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.pokemon-height, .pokemon-weight,
.pokemon-type, .pokemon-tile-body-title {
  font-size: 14px;
}

.pokemon-height, .pokemon-weight,
.pokemon-type {
  padding-left: 20px;
}

.moves {
  font-size: 13px;
  padding: 0px 20px;
}
